body {
    background: no-repeat url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-size: 100%;
    overflow: hidden;
}

.card {
    border-radius: 25px;
    background-color: white;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    height: 71vh;
    width: 24vw;
    overflow: auto;
}

.card-header {
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 34%;
}

.card-title {
    text-align: center;
    color: hsl(223, 47%, 23%);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
    font-size: xx-large;
}

.card-text {
    padding-left: 18%;
    padding-right: 18%;
    text-align: center;
    color: #838799;
}

.annual-plan {
    display: flex;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    margin: auto;
    width: 70%;
    height: 15%;
}

.note {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8%;
}

#annual {
    font-weight: bold;
}

#price {
    color: #838799;
    margin-top: 5%;
}

.prices {
    margin-left: 8%;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.change {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8%;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: hsl(245, 75%, 52%);
    width: 69%;
    border-radius: 10px;
    color: white;
    display: flex;
    height: 8%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 19px 15px #dddaf7;
    font-weight: bold;
    text-decoration: none;
}

.button:hover {
    background-color: hsl(223, 47%, 23%);
}

.cancel {
    margin-top: 6%;
    text-align: center;
}

#cancel-order {
    font-weight: bold;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

#cancel-order:hover {
    color: hsl(223, 47%, 23%);
}

@media (max-width: 1700px) {
    .card {
        height: 74vh;
        width: 30vw;
    }

    .card-header {
        height: 38%;
    }

    .card-title {
        font-size: larger;
    }

    .card-text {
        font-size: small;
        padding-left: 10%;
        padding-right: 10%;
        line-height: 140%;
    }

    .annual-plan {
        width: 80%;
        height: 10%;
        font-size: smaller;
        margin-top: 7%;
    }

    .note {
        margin-left: 2%;
    }

    .button {
        margin-top: 7%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 1199.98px) {
    .card {
        width: 35vw;
    }

    .card-header {
        height: 30%;
    }

    .card-title {
        font-size: xx-large;
    }

    .card-text {
        padding-top: 5%;
        font-size: large;
    }
}

@media (max-width: 769px) {
    .card {
        height: 86vh;
        width: 45vw;
    }

    .card-header {
        height: 21%;
    }

    .card-title {
        margin-top: 10%;
        font-size:large ;
    }
    
    .card-text {
        font-size: small;
        padding-top: 5%;
    }

    .annual-plan {
        margin-top: 10%;
        font-size: small;
    }

    .button {
        margin-top: 10%;
        font-size: small;
    }

    .cancel {
        margin-top: 10%;
    }
}

